<a href="https://colab.research.google.com/github/BM-Rohith/DataStructures/blob/main/Datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATASTRUCTURES**

1)List

In [ ]:
#declaration
a = [4,3,2,1]
print('1 :', a)
a = []
print('2 :', a)
a = [5]
print('3 :', a)
a = list([1,2,3,4])
#ordered
print('4 :', a)  
b = [4,3,2,1]
print('5 :',a == b)
print('6: ',a[0])
print('7: ',a[-1])
a[1] = 'yes'
print('8: ', a)
a = [1,2,3, [4,5,6]]
print('9: ', a)

1 : [4, 3, 2, 1]
2 : []
3 : [5]
4 : [1, 2, 3, 4]
5 : False
6:  1
7:  4
8:  [1, 'yes', 3, 4]
9:  [1, 2, 3, [4, 5, 6]]

2)Tupples

In [ ]:
a = (3,2,1)
print('1: ',a)
a = 1,2,3,4
print('2: ',a) 
a = tuple([2,3,4,5])
print('3: ',a)
# a[0]='hi'
# print('4: ',a)
a = (2)
print('5: ',a)
a = (2,)
print('6: ',a)
print('7: ',a[0])
print('8: ',a[-1])
a = (1,2,3,(1,2,3))
print('9: ',a)

1:  (3, 2, 1)
2:  (1, 2, 3, 4)
3:  (2, 3, 4, 5)
5:  2
6:  (2,)
7:  2
8:  2
9:  (1, 2, 3, (1, 2, 3))

3) Dictionary

In [ ]:
a = {'a':1,'b':2,'c':3, 'a':2}
print('1: ',a)
a['a'] = "HI"
print('2: ',a)
# a = {[1,2,3]:1,'b':2,'c':3, 'a':2}
# print('3: ',a)
a = {(1,2,3):[1,2,3,4],'bit':2,'c':3, 'a':a}
print('4: ',a)

1:  {'a': 2, 'b': 2, 'c': 3}
2:  {'a': 'HI', 'b': 2, 'c': 3}
4:  {(1, 2, 3): [1, 2, 3, 4], 'bit': 2, 'c': 3, 'a': {'a': 'HI', 'b': 2, 'c': 3}}

4)Set

In [ ]:
a = {3,2,3,3}
print('1: ',a)
a = set("APPLE")
print('2: ',a)
a = set([1,5,3,2,3,4,2])
print('3: ',a)
a = {(1,2,3),(2,3,4)}
print('4: ',a)
# a = {[1,2,3],[4,5,6]}
# print('5: ',a)
a = {(1,2,3),(3,2,1),(1,2,3,4),(1,2,3)}
print('6: ',a)

1:  {2, 3}
2:  {'E', 'L', 'P', 'A'}
3:  {1, 2, 3, 4, 5}
4:  {(1, 2, 3), (2, 3, 4)}
6:  {(1, 2, 3, 4), (3, 2, 1), (1, 2, 3)}